/.codelite/.tern-port
/.codelite/.tern-project
/.codelite/Sensor.session
/.codelite/Sensor.tags
/.codelite/compilation.db
/.codelite/refactoring.db
/.codelite/subversion.conf
/.codelite/valgrind.memcheck.supp
/Debug/.d
/Debug/Sensor
/Debug/SensorMonitor.cc.o
/Debug/SensorMonitor.cc.o.d
/Debug/main.cpp.o
/Debug/main.cpp.o.d
/Debug/pump.cc.o
/Debug/pump.cc.o.d
/Debug/runtime.cc.o
/Debug/runtime.cc.o.d
